.App {
  text-align: center;
}

.container{
  display: flex;
  justify-content: center;
 
}
.navbar{
  position: sticky !important;
  top: 0 !important;
  z-index: 2000;
}
.row{

text-align: center;
width: 600px !important;
display: flex;
justify-content: center;
border-radius: 30px;
background-color: #ccccccba;

}
.row .input,.row .select{
 margin-bottom:15px;
width: 500px;

}
.row .input label, .row .select label{
  font-size: 20px;
  font-weight: bold;
  z-index: 1;
  font-family: 'Almarai', sans-serif;
font-family: 'IBM Plex Sans Arabic', sans-serif;
font-family: 'Playfair Display', serif;
}
.row button{
  width: 100px;
  margin: 10px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
background-color: #6da5c0;
}

.content{
  
  background-image: url(../public/evel.jpeg);
 height: 600px;


}

.card .profile{
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .row{
   width: 350px !important;
  }
  .row .input, .row .select{
    margin-left: 25px;
    width: 90%;
    margin: 5px;
  }
  .h2{
    width: auto;
  }
}