.description {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    text-align: center;
  }
  
  .icon-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .icon {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  
  h5 {
    margin-top: 10px;
  }
  
  @media screen and (max-width: 480px) {
    .description {
      margin: auto;
    }
  }